/* { marginBottom: "20px", cursor: "pointer" } */

.lessonContainer {
  margin-bottom: 50px;
  cursor: pointer;
}

.lessonImage {
  box-shadow: rgba(28, 254, 43, 0.25) 0px 30px 60px -12px inset,
    rgba(34, 255, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 50%;
}
